<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nice.mapper.GoodsMapper">
    <insert id="addGoods">
        insert into goods(goods_id,goods_name,goods_type,goods_create_date,goods_update_date,goods_remark) values (#{goodsId},#{goodsName},
         #{goodsType},#{goodsCreateDate},#{goodsUpdateDate},#{goodsRemark})
    </insert>
</mapper>